<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Online poll</title>
    <link rel="stylesheet" href="/stylesheets/online_poll.css">
    <link rel="shortcut icon" href="/images/poll.png" type="image/x-icon">
    <script type="text/javascript" src="/javascripts/online_poll.js"></script>
  </head>
  <body>
      <div class="divBoard">
        <p id='name'></p>
      </div>

      <div class="btn1">
        <button class='but1' type="button" onclick='clickMe()'> ԱՅՈ </button>
      </div>

      <div class="btn2" id='btnPosition'>
        <button class='but2' onmousemove='changeElementPosition()' onclick="pressMe()" type="button"> ՈՉ </button>
      </div>
  </body>
</html>
