.btn1{
  margin: 50px 20px 20px 850px;
}
.btn2{
  margin: 50px 20px 20px 850px;
  align-items: center;
}
.but1{
  background-color: green;
  color: white;
  width: 150px;
  height: 50px;
}
.but2{
  background-color: red;
  color: white;
  width: 150px;
  height: 50px;
}
.divBoard{
  margin: 150px;
  font-size: 30px;
  text-align: center;
}
